{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}         

<div id="welcome-image">
    <img src="./theme/img/computer.png"><small>Screenshot of a user adding a new VM to Ganeti Web Manager. </small>
</div>

<p>Ganeti Web Manager is a Django based web application that allows administrators and clients access to their ganeti clusters. It includes a permissions and quota system that allows administrators to grant access to both clusters and virtual machines. It also includes user groups for structuring access to organizations.</p>

<hr />


<h3>Getting Started</h3>
    <ol>
        <li><strong>Install dependencies:</strong><br /> Python, Pip, Fabric, and VirtualEnv</li>
        <li><strong>Get the Ganeti Web Manager code:</strong> <br />Clone from the <a href="#">repository</a> or download a <a href="#">release tarball</a></li>
        <li><strong>Deploy fabric environment:</strong> <br /> <div class="code">fab dev deploy</div> <em>or</em> <div class="code">fab prod deploy</div></li>
        <li><strong>Configure Settings:</strong> <br />Copy settings.py.dist to settings.py and make any modifications</li>
        <li><strong>Sync database, then run the server:</strong> <br />./manage.py syncdb –migrate, then ./manage.py runserver</li>
    </ol>

<hr />
<p class="pre-header"><a href="{{ SITEURL }}/archives.html">{{ SITENAME }} Updates</a></p>
{% if articles %}
    {% for article in articles_page.object_list %}      
  				
        {# First item #}
        {% if loop.first and not articles_page.has_previous() %}
            <aside id="featured" class="body">
                <article>
                    <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3> 
                    {% include 'article_infos.html' %}{{ article.content }}
                </article>
                {% if loop.length == 1 %}
                    {% include 'pagination.html' %}
                {% endif %}
            </aside><!-- /#featured -->
            <hr />
        {# other items #}
        {% else %} 
            {% if loop.first and articles_page.has_previous %}
                <section id="content" class="body">
            {% endif %}
            <article class="hentry">    
                    <h4><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h4>
                
                <div class="entry-content">
                {% include 'article_infos.html' %}
                </div><!-- /.entry-content -->
            </article>
        {% endif %}
    {% endfor %}
{% else %}
<!--<section id="content" class="body">    
<h2>Pages</h2>
    {% for page in PAGES %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    </section>-->

{% endif %}

{% endblock content %}
