{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}         

<div id="welcome-image">
    <img src=#>
</div>
{% for page in INDEX %}
{{ page.content }}
{% endfor %}

<p class="pre-header"><a href="{{ SITEURL }}/archives.html">{{ SITENAME }} Updates</a></p>
{% if articles %}
    {% for article in articles_page.object_list %}      
  				
        {# First item #}
        {% if loop.first and not articles_page.has_previous() %}
            <aside id="featured" class="body">
                <article>
                    <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3> 
                    {% include 'article_infos.html' %}{{ article.content }}
                </article>
                {% if loop.length == 1 %}
                    {% include 'pagination.html' %}
                {% endif %}
            </aside><!-- /#featured -->
            <hr />
        {# other items #}
        {% else %} 
            {% if loop.first and articles_page.has_previous %}
                <section id="content" class="body">
            {% endif %}
            <article class="hentry">    
                    <h4><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h4>
                
                <div class="entry-content">
                {% include 'article_infos.html' %}
                </div><!-- /.entry-content -->
            </article>
        {% endif %}
    {% endfor %}
{% else %}
    

{% endif %}

{% endblock content %}
