// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
@import "foundation/components/breadcrumbs";
@import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

//Setting color variables
//Bodybg defines the background color for the body
$bodybg: #F3F2ED;

//Primary color is for homepage banner, sidebar, and footer
$primarycolor: #424242;

//Secondary color is for nav menu and download bar
$secondarycolor: #5D87A1;

//Accent is for links
$accent: #EE5D1A; 

//And then we have text colors
$darktext: #000;
$lighttext: #fff;


body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: $bodybg;
}

/*Header and main navigation CSS*/
#page-header {
    @extend .large-12, .small-12, .columns;
    background: $secondarycolor; 
    padding-top:emCalc(16px);
    padding-bottom:emCalc(16px);
    top:0px;
	position: relative;
	z-index:99;
	height: 100px;
}

.logo {
    @extend .large-3, .columns;
    display: inline-block;
}

.download {
    @extend .large-3, .columns;
    font-family: "crete round", serif;
    font-size: 1.1em;
    margin: 0px 10px;
    padding: 0px;
    width: auto;
    text-align: center;
    display:inline-block;
	float:right;
}

.download a{
    @extend .button, .success;
    margin:emCalc(6px) 0px;
    background: $primarycolor;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 2px solid black;
    color: $lighttext;
}

.download-button:hover,
.download-button:focus{
    background: #767676;
    color: #fff;
    cursor: pointer;
}

.download-button{
    display:inline-block;
    font-family: 'Crete round', serif;
    font-size: 1.1em;
    margin: 0px 10px;
    float: right;
    }

/*Index page Styles*/
#indexpage{
	background: $primarycolor;
	text-align: center;
	height: 70vh;
	min-height: 500px;
    display: inline-block;
    clear: both;
}

#indexpage:before{
        content:'';
        display: inline-block;
        height:100%;
        vertical-align: middle;
}

#indexpage p{
	font-family: 'crete round', serif;
	color: $lighttext;
	font-size: 24px;
	padding: 20px;
	width: 30%;
	margin: 0px;
	display: inline-block;
    vertical-align: middle;
}

#welcome-image {
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
    max-width: 60%;
    max-height: 80%;
    vertical-align: middle;
}

#downloadRibbon{
	width: 100%;
	height: 10vh;
	min-height: 90px;
	background: $secondarycolor;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#downloadRibbon h2{
	margin: 0px;
	padding: 0px;
	line-height: 100px;
	font-family: 'crete round', serif;
	font-size: 64px;
	vertical-align: middle;
	display:inline-block;
}

#downloadRibbon a{
	color: $lighttext;
	text-decoration: none;
	transition: .5s;
}

#downloadRibbon a:hover{
	color: $accent;
}

/*Main content CSS*/

.main-content {
    @extend .row;
    /*margin-top:emCalc(-32px); z-index:99;*/
    position:relative;/*absolute*/
    width: 80vw;
    max-width: 80em;
    border:2px solid #ddd;
    background: $primarycolor;
}

.main-content ul{
    padding:0;
    margin:0px;
    list-style: none;
}

#welcome-message {
    @extend .large-9, .small-12, .columns;
    background: #fff;
    padding:2em;
min-height:600px;
    width: 70%;
}

/*Sidebar Styles*/
.sidebar {
    padding-top:emCalc(15px);
    @extend .large-3, .small-12, .columns;
    background: $primarycolor;
    width: 30%;
}
.sidebar h5{
    color: $lighttext;
    font-family: 'crete round', serif;
    font-size: 1.9em;
    text-align: center;
}
.sidebar p, .sidebar li{
    font-family: 'crete round', serif;
    color: $lighttext;
    font-size: 1.2em;
    text-align: center;
}
.sidebar a{
    color: $lighttext;
    text-decoration: none !important;
transition: .5s;
	text-align: center;
}

.sidebar a:hover{
    color: $accent;
}
.sidebar ul{
	list-style-type: none;
}

/*Footer CSS*/
footer {
    background: $primarycolor;
    padding:emCalc(64px) 0 emCalc(32px) 0;
    margin-top:emCalc(-32px)
}

footer p {
    color:#fff;
}

#footerRow{
    width: 80vw;
    max-width: 80em;
    margin: 0px auto;
}

.footerDiv{
    display: inline-block;
    padding: 10px;
    margin: 0px;
width: 200px !important;
}

#osuosl-logo {
@extend .large-2, .columns;
}

footer img{
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0px;
}

.donate {
    @extend .large-2, .columns;
    text-align:right;
}

#footer-text{
    text-align:center;
    padding: 16px 0px 0px;
}

/* * * *
Typography
 * * * */
a:link,
a:active,
a:visited {
    text-decoration:none;
}

.byline {
    text-transform:uppercase;
    color:#777;
    font-size:.9em;
}

ol {
    padding:0 0 0 emCalc(25px);
    margin:0px;
}

ol li {
    padding:emCalc(16px) 0 0 0;
    margin:0px;
}

ol li:first-child {
    padding:emCalc(2px) 0 0 0;
}

strong {
    font-style: normal;
    font-weight: 600;
}

iframe {
    width:100%;
}

@media only screen and (max-width: 980px) {
    footer {
	margin:0px;
	padding:20px 0;
    }

    .download p {
	font-size:1.2em;
    }

    #footer-text {
	text-align:center;
	padding:16px 0 0 0;
    }

    #osu-logo {
	padding-bottom:16px;
    }

    .logo {
	text-align:center;
    }

    .main-content{
    width: 95vw;}

}

@media only screen and (max-width: 840px){
    .sidebar{
	display:none;
    }

    .download{
	width: 50%;
	margin: 0px;
    padding: 0px;}

    #welcome-message{
	margin-right: auto 0;
    margin-left: auto 0;}
    
    #footer-text{
    width: 100%;}
}

@media only screen and (max-width: 380px){
   #footer-text{
    display: block;
    }
    .footerDiv{
	float: none !important;
    width:100%;
    }
    .download{
    width: 100%;}
}
