// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
@import "foundation/components/breadcrumbs";
@import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #F3F2ED;
}

/*Page banner CSS*/     

#osl-information {
    width:100%;
    /*background: #424242; #332E2C url('/theme/img/dark-concrete.jpg') repeat;*/
    padding:emCalc(12px);
    border-bottom:1px solid #181514;
    color:#424242;
    position:relative;
	height: 5vh;
	min-height: 50px;
}

#osl-information a{
text-decoration: none;
transition: .5s;
}
#osl-informaion a:hover{
color: #F3CEBB;
}
#osl-information-container {
    @extend .row;
    text-align:right;
}

#osl-logo {
    @extend .large-12, .columns;
    font-size:.7em;
}

#osl-logo img {
    display:inline;
    margin-left:emCalc(8px);
}

.osl-link{
    color: #F37321;
}

/*Other links Stylings*/
#other-links {
    @extend .large-11, .columns;
}

#other-links ul {
    display:inline;
    padding:0px;
    margin:0px;
}

#other-links ul li {
    display:inline;
    padding:0px;
    margin:0px emCalc(8px) 0px 0px;
}

/*Header and main navigation CSS*/

.page-header {
    @extend .large-12, .small-12, .columns;
    background: #5D87A1; /*#294562 url('/theme/img/concrete.jpg') repeat;*/
    //float:none;
    padding-top:emCalc(16px);
    padding-bottom:emCalc(16px);
    top:0px;
	position:relative;
	z-index:99;
	height: 15vh;
	min-height: 140px;
}

.logo {
    @extend .large-3, .columns;
display: inline-block;}

.navigation {
    @extend .large-4, .columns;
    padding-top:emCalc(20px);
display: inline-block;}

.navigation ul {
    margin:0px;
    list-style:none;
    display:inline;
}

.navigation ul li,
.footer-navigation ul li {
    display:inline;
    margin:0px emCalc(12px) 0px 0px;
}

.navigation ul li a:link,
.navigation ul li a:active,
.navigation ul li a:visited,
.footer-navigation ul li a:link,
.footer-navigation ul li a:active,
.footer-navigation ul li a:visited {
    color:#fff;
    font-family: 'Crete round', serif;
    font-size: 1.9em;
    text-align: left;
    padding: 5px;
    text-decoration:none;
transition: .5s;
}

.navigation ul li a:hover,
.footer-navigation ul li a:hover {
    color: #ee5d1a;
}

.download {
    @extend .large-3, .columns;
    font-family: "crete round", serif;
    font-size: 1.1em;
    margin: 10px;
    padding: 0px;
    width: auto;
    text-align: center;
display:inline-block;
	float:right;
}

.download p {
    font-family: "crete round", serif;
    font-size:1.1em;
    padding:0px;
    margin:0px;
    color: #fff;
}

.download p:hover{
color: #F3CEBB;}

.page-header h1 {
    color:#fff;
    letter-spacing:-.03em;
    font-weight:normal;
}

.download-button {
    @extend .button, .success;
    margin:emCalc(6px) 0px;
    background: #424242;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 2px solid black;
    color: #fff;
}

.download-button:hover,
.download-button:focus{
    background: #646464; /*#DF5F0D;*/
    color: #f3cebb;
    cursor: pointer;
}
.download-button:active{
    box-shadow: 0px 0px 5px 1px black;
}

a.download-button:link,
a.download-button:active,
a.download-button:visited {
    text-decoration:none;
    color: #ffffff;
}

/*Index page Styles*/
.indexpage{
	clear:both;
	margin:0px;
	padding: 0px;
	height: 100px;
	width: 100%;
	position: relative;
	display:table;
}

#indexpage{
	background: #424242;
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	height: 70vh;
	min-height: 500px;
}

#indexpage p{
	font-family: 'crete round', serif;
	color: #fff;
	font-size: 24px;
	padding: 20px;
	width: 30%;
	margin: 0px;
	display: inline-block;
}

#downloadRibbon{
	width: 100%;
	height: 10vh;
	min-height: 90px;
	background: #5D87A1;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#downloadRibbon h2{
	margin: 0px;
	padding: 0px;
	line-height: 100px;
	font-family: 'crete round', serif;
	font-size: 64px;
	vertical-align: middle;
	display:inline-block;
}

#downloadRibbon a{
	color: #fff;
	text-decoration: none;
	transition: .5s;
}

#downloadRibbon a:hover{
	color: #ee5d1a;
}

#downloadRibbon img{
	height: 70%;
	vertical-align: middle;
	padding: 10px;
}

/*Main content CSS*/

.main-content {
    @extend .row;
    /*margin-top:emCalc(-32px); z-index:99;*/
    position:relative;/*absolute*/
    width: 80vw;
    max-width: 80em;
}

#welcome-message {
    @extend .large-9, .small-12, .columns;
    border:2px solid #ddd;
    background:#fff;
    padding:2em;
min-height:600px;
}

#welcome-image {
    padding:emCalc(64px) 0 emCalc(64px) 0;	
    width:60%;
    clear:both;
	max-width: 1080px;
	margin-right: auto;
	margin-left: auto;
	height:auto;
	display: inline-block;
}

#welcome-image small {
    font-size:.7em;
    color:#46413D;
    margin:0px;
    padding:0px;
}

#welcome-header {
    @extend .large-9, .columns;
    padding-left:0px;
    padding-right:0px;
}

#contact-panel {
    @extend .large-3, .columns;
    padding-left:0px;
}

#screenshots {
    @extend .large-9, .columns;
    padding-right:0px;
}

/*Sidebar Styles*/
.sidebar {
    float: left;
    padding-top:emCalc(15px);
    @extend .large-3, .small-12, .columns;
    background: #424242;
}
.sidebar h5{
    color: #fff;
    font-family: 'crete round', serif;
    font-size: 1.9em;
    text-align: center;
}
.sidebar p, .sidebar li{
    font-family: 'crete round', serif;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
}
.sidebar a{
    color: #ee5d1a;
    text-decoration: none !important;
transition: .5s;
	text-align: center;
}

.sidebar a:hover{
    color: #F3CEBB;
}
.sidebar ul{
	list-style-type: none;
}
.code {
    margin:emCalc(8px) 0;
    background:#ddd;
    padding:emCalc(8px);
    font-family:monospace, serif;
    color:#000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.code p {
    padding:0px;
    color:#fff;
}

p.pre-header {
    padding:0px;
    margin:0px;
}

p.pre-header a:link,
p.pre-header a:active,
p.pre-header a:visited,
p.pre-header a:hover {
    text-decoration:none;
    color:#333;
}

#getting-started h3 {
    color:#fff;
}

/*Footer CSS*/
footer {
    background: #424242; /*#332E2C url('/theme/img/dark-concrete.jpg') repeat;*/
    padding:emCalc(64px) 0 emCalc(32px) 0;
    margin-top:emCalc(-32px)
}

footer p {
    color:#fff;
}

#footerRow{
    width: 80vw;
    max-width: 80em;
    margin: 0px auto;
}

.footerDiv{
    display: inline-block;
    padding: 10px;
    margin: 0px;
width: 200px !important;}

#osu-logo {
@extend .large-2, .columns;}

#osuosl-logo {
@extend .large-2, .columns;}

footer img{
    width: 100%;
    height: auto;
    padding: 10px;
margin: 0px;}

.donate {
    @extend .large-2, .columns;
    text-align:right;
}
#footer-text{
    text-align:center;
    padding: 16px 0px 0px;
}

/* * * *
Typography
 * * * */
a:link,
a:active,
a:visited {
    text-decoration:none;

}

.byline {
    text-transform:uppercase;
    color:#777;
    font-size:.9em;
}

button a:link,
button a:active,
button a:visited {
    text-decoration:none;
    color: #000000;
}

h3 a:link,
h3 a:active,
h3 a:visited,
h3 a:hover,
h4 a:link,
h4 a:active,
h4 a:visited,
h4 a:hover {
    text-decoration:none;
}

.main-content ul{
    padding:0;
    margin:0px;
    list-style: none;
}

.headertext{
    font-family: 'Crete round', serif;
    font-size: 16px;
    text-align: center;
    margin: auto 0;
    vertical-align: middle;
}

ol {
    padding:0 0 0 emCalc(25px);
    margin:0px;
}

ol li {
    padding:emCalc(16px) 0 0 0;
    margin:0px;
}

ol li:first-child {
    padding:emCalc(2px) 0 0 0;
}

strong {
    font-style: normal;
    font-weight: 600;
}

iframe {
    width:100%;
}



@media only screen and (max-width: 980px) {
    body{
	text-align: center;
    }
    footer {
	margin:0px;
	padding:20px 0;
    }

    #osl-information-container {
	text-align:left;
	line-height:2;
    }

    .download {
	text-align:center;
	padding:16px 0 0 0;
	line-height:3;
    }

    .download p {
	font-size:1.2em;
    }

    #footer-text {
	text-align:center;
	padding:16px 0 0 0;
    }

    #osu-logo {
	padding-bottom:16px;
    }

    .logo {
	text-align:center;
    }

    .navigation {
	text-align:center;
    }

    .main-content{
    width: 95vw;}

}
@media only screen and (max-width: 768px){
    .sidebar{
	display:none;
    }

    .download{
	width: 50%;
	margin: 0px;
    padding: 0px;}

    #welcome-message{
	margin-right: auto 0;
    margin-left: auto 0;}
    #footer-text{
    width: 100%;}
}
@media only screen and (max-width: 380px){
   #footer-text{
    display: block;
    }
    .footerDiv{
	float: none !important;
    width:100%;
    }
    .download{
    width: 100%;}
}
